In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import os

In [6]:
nowpath=os.path.abspath('.')
t_log=pd.read_csv(nowpath+'/Risk_Detection_Qualification/t_login.csv',sep=',')
t_trade=pd.read_csv(nowpath+'/Risk_Detection_Qualification/t_trade.csv',sep=',')

In [7]:
pd.options.display.max_rows = 100

In [1]:
'''df_cleared=pd.DataFrame(data=t_log.drop('log_id',1).sort_values(by='time',axis=0))
df_cleared.index=range(len(df_cleared))
df_cleared['is_scan_num']=((df_cleared['is_scan']==True)).astype(int)
df_cleared['is_sec_num']=((df_cleared['is_sec']==True)).astype(int)
df_cleared=df_cleared.drop('is_scan',1)
df_cleared=df_cleared.drop('is_sec',1)
df_cleared'''

"df_cleared=pd.DataFrame(data=t_log.drop('log_id',1).sort_values(by='time',axis=0))\ndf_cleared.index=range(len(df_cleared))\ndf_cleared['is_scan_num']=((df_cleared['is_scan']==True)).astype(int)\ndf_cleared['is_sec_num']=((df_cleared['is_sec']==True)).astype(int)\ndf_cleared=df_cleared.drop('is_scan',1)\ndf_cleared=df_cleared.drop('is_sec',1)\ndf_cleared"

In [8]:
def JD_log_dataclear(df):
    df_cleared=pd.DataFrame(data=df.drop('log_id',1).sort_values(by='time',axis=0))
    df_cleared.index=range(len(df_cleared))
    df_cleared['is_scan_num']=((df_cleared['is_scan']==True)).astype(int)
    df_cleared['is_sec_num']=((df_cleared['is_sec']==True)).astype(int)
    df_cleared['time_pd']=[pd.Timestamp(df_cleared.loc[t,'time']) for t in range(len(df_cleared))]
    df_cleared=df_cleared.drop('is_scan',1)
    df_cleared=df_cleared.drop('is_sec',1)
    df_cleared=df_cleared.drop('time',1)
    return df_cleared

In [16]:
def JD_trade_dataclear(df):
    df_cleared=pd.DataFrame(data=df.sort_values(by='time',axis=0))
    df_cleared.index=range(len(df_cleared))
    df_cleared['time_pd']=[pd.Timestamp(df_cleared.loc[t,'time']) for t in range(len(df_cleared))]
    df_cleared=df_cleared.drop('time',1)
    df_cleared['weekdays']=[df_cleared.loc[t,'time_pd'].weekday() for t in range(len(df_cleared))]
    return df_cleared

In [10]:
df_log_use=JD_log_dataclear(t_log)

In [17]:
df_trade_use=JD_trade_dataclear(t_trade)

In [23]:
def JD_trade_merge(df_log_use,df_trade_use):
    df_trade_use['device']=0
    df_trade_use['log_from']=0
    df_trade_use['ip']=0
    df_trade_use['city']=0
    df_trade_use['result']=0
    df_trade_use['timestamp']=0
    df_trade_use['type']=0
    df_trade_use['is_scan_num']=0
    df_trade_use['is_sec_num']=0
    #df_trade_use=df_trade_use.drop(('device','log_from'),1)
    this_row='Null'
    nofit_count=0
    #nofit_danger_count=0
    df_log_use=df_log_use.sort_values(by='time_pd',axis=0,ascending=False)
    df_log_use.index=range(len(df_log_use))
    for i in range(len(df_trade_use)):
        df_tmp=df_log_use[df_log_use.loc[:,'id']==df_trade_use.loc[i,'id']]
        sigsig=False
        row='Null'
        #this_row='Null'
        for rowd in df_tmp.iterrows():
            row=rowd[1]
            #if df_trade_use.loc[i,'time_pd']-row['time_pd']<pd.Timedelta('01:00:00'):
            if df_trade_use.loc[i,'time_pd']<row['time_pd']:
                df_trade_use.loc[i,'device']=row['device']
                df_trade_use.loc[i,'log_from']=row['log_from']
                df_trade_use.loc[i,'ip']=row['ip']
                df_trade_use.loc[i,'city']=row['city']
                df_trade_use.loc[i,'result']=row['result']
                df_trade_use.loc[i,'timestamp']=row['timestamp']
                df_trade_use.loc[i,'type']=row['type']
                df_trade_use.loc[i,'is_scan_num']=row['is_scan_num']
                df_trade_use.loc[i,'is_sec_num']=row['is_sec_num']
                sigsig=True
                break
            #this_row=row.copy()
            #print(this_row)
        if sigsig==False:
            nofit_count=nofit_count+1
            df_trade_use=df_trade_use.drop(i,axis=0)
            #if df_trade_use.loc[i,'is_risk']==1:
            #    nofit_danger_count=nofit_danger_count+1

    print(nofit_count)
    #print(nofit_danger_count)
    return df_trade_use

In [24]:
df_trade_new=JD_trade_merge(df_log_use,df_trade_use)

23727

In [25]:
df_trade_new

,rowkey,id,is_risk,time_pd,weekdays,device,log_from,ip,city,result,timestamp,type,is_scan_num,is_sec_num
0,2,171909,0,2015-01-01 00:00:40,3,57192,2,363195,217,1,1.430000e+09,3,0,0
1,3,27863,0,2015-01-01 00:00:41,3,165080,2,901964,418,31,1.430000e+09,3,0,0
2,6,115201,0,2015-01-01 00:00:46,3,573956,1,691374,243,1,1.430000e+09,3,0,0
3,13,143711,0,2015-01-01 00:01:02,3,705591,10,607056,194,1,1.420000e+09,1,1,0
4,18,62643,0,2015-01-01 00:01:17,3,1043947,1,1060447,492,1,1.440000e+09,1,0,0
5,25,163830,0,2015-01-01 00:02:03,3,494882,2,1511481,194,1,1.430000e+09,3,0,0
6,32,172699,0,2015-01-01 00:03:00,3,98787,1,1137907,484,1,1.440000e+09,3,0,0
7,37,27863,0,2015-01-01 00:03:17,3,165080,2,901964,418,31,1.430000e+09,3,0,0
8,43,53265,0,2015-01-01 00:03:52,3,79302,2,1293102,364,1,1.430000e+09,2,0,0
9,52,72054,0,2015-01-01 00:04:22,3,856090,1,220194,488,1,1.440000e+09,3,0,0
10,67,18231,0,2015-01-01 00:05:51,3,115289,1,1033037,194,31,1.420000e+09,2,0,0
11,94,147174,0,2015-01-01 00:10:12,3,404495,2,503836,44,1,1.440000e+09,1,0,0
12,98,141674,0,2015-01-01 00:10:48,3,584502,1,1535914,194,31,1.430000e+09,3,0,0
13,109,72054,0,2015-01-01 00:12:00,3,856090,1,220194,488,1,1.440000e+09,3,0,0
14,113,107120,0,2015-01-01 00:13:03,3,743811,1,897412,63,-2,1.430000e+09,3,0,0
15,116,105324,0,2015-01-01 00:13:16,3,755086,2,1491166,447,1,1.420000e+09,3,0,0
16,120,6086,0,2015-01-01 00:13:40,3,1067378,1,365920,404,1,1.440000e+09,3,0,0
17,127,86348,0,2015-01-01 00:14:42,3,1056069,2,1308420,364,1,1.430000e+09,3,0,0
18,140,87973,0,2015-01-01 00:17:26,3,14940,2,945294,404,1,1.430000e+09,2,0,0
19,147,168749,0,2015-01-01 00:19:07,3,66681,1,748226,211,1,1.430000e+09,3,0,0
20,148,74015,0,2015-01-01 00:19:15,3,1058521,2,1514722,492,1,1.440000e+09,2,0,0
21,149,58851,0,2015-01-01 00:19:19,3,121763,2,1013719,194,1,1.430000e+09,1,0,0
22,189,98286,1,2015-01-01 00:25:04,3,434754,2,1030588,70,1,1.430000e+09,3,0,0
23,198,139034,0,2015-01-01 00:25:51,3,988954,10,1005119,58,1,1.430000e+09,1,1,0
24,205,98286,0,2015-01-01 00:26:28,3,434754,2,1030588,70,1,1.430000e+09,3,0,0
25,211,98286,1,2015-01-01 00:27:24,3,434754,2,1030588,70,1,1.430000e+09,3,0,0
26,230,115201,0,2015-01-01 00:31:35,3,573956,1,691374,243,1,1.430000e+09,3,0,0
27,234,115201,0,2015-01-01 00:32:55,3,573956,1,691374,243,1,1.430000e+09,3,0,0
28,235,150287,0,2015-01-01 00:33:08,3,400537,2,850689,115,1,1.430000e+09,3,0,0
30,244,8664,0,2015-01-01 00:35:19,3,1048577,2,1357720,194,1,1.440000e+09,3,0,0
31,248,160686,0,2015-01-01 00:35:40,3,573934,1,392313,44,1,1.430000e+09,3,0,0
32,282,157472,0,2015-01-01 00:48:11,3,632443,2,1050572,270,1,1.430000e+09,3,0,0
33,287,144195,0,2015-01-01 00:49:40,3,720013,2,300998,194,1,1.420000e+09,3,0,0
34,288,64543,0,2015-01-01 00:49:43,3,295261,1,254623,434,1,1.430000e+09,1,0,0
35,293,164198,0,2015-01-01 00:50:41,3,835072,1,1215566,58,31,1.430000e+09,3,0,0
36,299,73772,0,2015-01-01 00:54:02,3,835072,2,777622,364,1,1.430000e+09,3,0,0
37,315,53933,0,2015-01-01 00:56:59,3,653330,1,1152035,412,1,1.440000e+09,3,0,0
38,320,115201,0,2015-01-01 00:58:28,3,573956,1,691374,243,1,1.430000e+09,3,0,0
39,339,24132,0,2015-01-01 01:04:39,3,1023594,1,1052809,194,1,1.430000e+09,3,0,0
40,343,87482,0,2015-01-01 01:05:47,3,1001793,1,27206,438,1,1.430000e+09,3,0,0
41,344,64543,0,2015-01-01 01:05:55,3,295261,1,254623,434,1,1.430000e+09,1,0,0
42,354,53933,0,2015-01-01 01:08:10,3,653330,1,1152035,412,1,1.440000e+09,3,0,0
43,365,163830,0,2015-01-01 01:12:50,3,494882,2,1511481,194,1,1.430000e+09,3,0,0
44,376,81495,0,2015-01-01 01:17:11,3,852277,2,1397327,21,1,1.430000e+09,3,0,0
45,379,143711,0,2015-01-01 01:17:49,3,705591,10,607056,194,1,1.420000e+09,1,1,0
46,380,53933,0,2015-01-01 01:17:51,3,653330,1,1152035,412,1,1.440000e+09,3,0,0
47,393,174789,0,2015-01-01 01:22:20,3,195304,10,883027,180,1,1.430000e+09,1,1,0
49,419,162466,0,2015-01-01 01:28:08,3,597782,2,1240213,364,31,1.430000e+09,3,0,0
50,427,30357,0,2015-01-01 01:31:34,3,562645,2,890846,194,1,1.430000e+09,3,0,0
51,440,24002,0,2015-01-01 01:40:30,3,775507,2,488749,194,1,1.430000e+09,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132242,946800,122475,0,2015-06-30 09:36:28,1,459987,1,1327469,223,1,1.440000e+09,3,0,0
132246,946827,29819,0,2015-06-30 09:42:34,1,533290,1,72724,364,1,1.440000e+09,3,0,0
132249,946842,174737,0,2015-06-30 09:44:54,1,154030,1,173195,399,1,1.440000e+09,1,0,0
132260,946935,14187,0,2015-06-30 10:01:37,1,679739,2,202867,205,1,1.440000e+09,3,0,0
132263,946956,9507,0,2015-06-30 10:03:56,1,938168,2,642454,238,1,1.440000e+09,3,0,0
132266,946981,79792,0,2015-06-30 10:07:40,1,302610,1,370764,400,1,1.440000e+09,3,0,0
132271,947007,90683,0,2015-06-30 10:11:56,1,131238,2,895724,232,1,1.440000e+09,1,0,0
132272,947021,90683,0,2015-06-30 10:14:16,1,131238,2,895724,232,1,1.440000e+09,1,0,0
132276,947061,90683,0,2015-06-30 10:19:51,1,131238,2,895724,232,1,1.440000e+09,1,0,0
132290,947198,102886,0,2015-06-30 10:45:32,1,147294,1,648111,194,1,1.440000e+09,2,0,0
132292,947214,81140,0,2015-06-30 10:48:34,1,113417,2,534826,255,1,1.440000e+09,3,0,0
132323,947430,19867,0,2015-06-30 11:26:35,1,1064889,1,471402,237,1,1.440000e+09,2,0,0
132324,947432,74148,0,2015-06-30 11:26:55,1,890741,2,1359838,254,1,1.440000e+09,3,0,0
132325,947435,65700,0,2015-06-30 11:27:43,1,992151,1,1221584,255,1,1.440000e+09,3,0,0
132340,947553,83717,0,2015-06-30 11:50:36,1,546500,1,619905,218,1,1.440000e+09,1,0,0
132352,947651,73341,0,2015-06-30 12:08:38,1,835072,2,1063848,238,1,1.440000e+09,3,0,0
132358,947720,37249,0,2015-06-30 12:25:56,1,249959,10,2825,78,1,1.440000e+09,1,1,0
132360,947732,97816,0,2015-06-30 12:29:07,1,154832,2,515574,102,1,1.440000e+09,3,0,0
132364,947776,110368,0,2015-06-30 12:42:10,1,835072,2,45295,78,1,1.440000e+09,1,0,0
132368,947808,85156,0,2015-06-30 12:50:58,1,1053707,1,678614,194,1,1.440000e+09,1,0,0
132373,947872,147527,0,2015-06-30 13:03:35,1,491497,1,267769,194,1,1.440000e+09,1,0,0
132382,947957,90683,0,2015-06-30 13:22:59,1,131238,2,895724,232,1,1.440000e+09,1,0,0
132385,947973,48802,0,2015-06-30 13:26:58,1,312042,1,372280,427,1,1.440000e+09,1,0,0
132387,947982,156465,0,2015-06-30 13:29:48,1,391619,1,581361,21,1,1.440000e+09,3,0,0
132395,948060,74148,0,2015-06-30 13:49:35,1,890741,2,1359838,254,1,1.440000e+09,3,0,0
132405,948119,89349,0,2015-06-30 14:03:05,1,138488,2,1469553,44,1,1.440000e+09,2,0,0
132406,948122,113760,0,2015-06-30 14:03:36,1,256725,1,718840,254,1,1.440000e+09,3,0,0
132410,948147,173772,0,2015-06-30 14:08:34,1,868587,1,883462,411,1,1.440000e+09,3,0,0
132416,948187,165058,0,2015-06-30 14:16:32,1,771210,2,832164,238,1,1.440000e+09,3,0,0
132453,948507,119355,0,2015-06-30 15:22:00,1,340352,10,1356984,218,1,1.440000e+09,1,1,0
132457,948581,74148,0,2015-06-30 15:40:03,1,890741,2,1359838,254,1,1.440000e+09,3,0,0
132463,948611,141447,0,2015-06-30 15:45:29,1,420697,1,690630,364,1,1.440000e+09,1,0,0
132479,948733,1483,0,2015-06-30 16:13:18,1,109840,2,499199,103,1,1.440000e+09,1,0,0
132497,948981,99798,0,2015-06-30 17:17:10,1,752532,1,972599,68,1,1.440000e+09,1,0,0
132542,949370,171105,0,2015-06-30 18:53:47,1,835072,1,1546020,44,1,1.440000e+09,1,0,0
132550,949458,92416,0,2015-06-30 19:22:01,1,745819,1,776022,194,1,1.440000e+09,3,0,0
132558,949544,134855,1,2015-06-30 19:45:03,1,579904,2,1437681,474,1,1.440000e+09,1,0,0
132559,949549,134855,1,2015-06-30 19:46:17,1,579904,2,1437681,474,1,1.440000e+09,1,0,0
132563,949562,134855,1,2015-06-30 19:48:52,1,579904,2,1437681,474,1,1.440000e+09,1,0,0
132574,949615,113064,0,2015-06-30 19:59:50,1,506822,2,1427159,36,1,1.440000e+09,3,0,0
132576,949621,113064,0,2015-06-30 20:01:03,1,506822,2,1427159,36,1,1.440000e+09,3,0,0
132617,949944,80231,0,2015-06-30 21:18:36,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132619,949949,80231,0,2015-06-30 21:19:39,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132621,949954,80231,0,2015-06-30 21:20:41,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132622,949961,80231,0,2015-06-30 21:22:18,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132623,949974,80231,0,2015-06-30 21:23:59,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132625,949982,80231,0,2015-06-30 21:25:10,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132626,949990,80231,0,2015-06-30 21:26:50,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132661,950280,80231,0,2015-06-30 22:17:49,1,375481,1,919937,194,1,1.440000e+09,1,0,0
132672,950417,22194,0,2015-06-30 22:39:50,1,166004,2,1208188,244,1,1.440000e+09,3,0,0

In [ ]:
''' #a former version, could be used to clear the TEST data.
this_row='Null'
for i in range(len(df_trade_use)):
    df_tmp=df_log_use[df_log_use.loc[:,'id']==df_trade_use.loc[i,'id']]
    sigsig=False
    #this_row='Null'
    for rowd in df_tmp.iterrows():
        row=rowd[1]
        if df_trade_use.loc[i,'time_pd']-row['time_pd']<pd.Timedelta('01:00:00'):
            df_trade_use.loc[i,'device']=row['device']
            df_trade_use.loc[i,'log_from']=row['log_from']
            df_trade_use.loc[i,'ip']=row['ip']
            df_trade_use.loc[i,'city']=row['city']
            df_trade_use.loc[i,'result']=row['result']
            df_trade_use.loc[i,'timestamp']=row['timestamp']
            df_trade_use.loc[i,'type']=row['type']
            df_trade_use.loc[i,'is_scan_num']=row['is_scan_num']
            df_trade_use.loc[i,'is_sec_num']=row['is_sec_num']
            sigsig=True
            break
        this_row=row.copy()
        #print(this_row)
    if sigsig==False:
        df_trade_use.loc[i,'device']=this_row['device']
        df_trade_use.loc[i,'log_from']=this_row['log_from']
        df_trade_use.loc[i,'ip']=this_row['ip']
        df_trade_use.loc[i,'city']=this_row['city']
        df_trade_use.loc[i,'result']=this_row['result']
        df_trade_use.loc[i,'timestamp']=this_row['timestamp']
        df_trade_use.loc[i,'type']=this_row['type']
        df_trade_use.loc[i,'is_scan_num']=this_row['is_scan_num']
        df_trade_use.loc[i,'is_sec_num']=this_row['is_sec_num']
'''

In [26]:
df_trade_new.to_csv(path_or_buf=nowpath+'/trade_new.csv',sep=',')